/* stylesComunicados.css */
.container-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #8e5e30 0%, #2B1807 100%);


}

.content-wrapper {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout padrão (desktop): lado a lado */
.buttons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card-button {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #f9f9f9;
  box-shadow:  0 5px 12px  rgba(7, 7, 7, 0.6);
}

/* Mobile: um botão por linha */
@media (max-width: 600px) {
  .buttons-grid {
    flex-direction: column;
    align-items: center;
  }
  
  .card-button {
    width: 90%;
    height: 100px; /* Altura menor para mobile */
  }
}



/* Efeitos e texto (comuns a todos os tamanhos) */
.card-button:hover {
   background-color: rgba(0, 0, 0, 0.3);

  transform: translateY(-2px);
}

.button-label {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #EFF3EA;
  text-align: center;
}